<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite2">
	<listeners>
		<listener class-name="com.liuchao.TestNG.TestNGRetryListener"/>
		<listener class-name="com.liuchao.TestNG.TestNGListener"/>
	</listeners>
    <parameter name="username" value="LC" />
	<parameter name="pwd" value="Lc123456" />
	<parameter name="browserDriverUrl" value="/driver/chromedriver_linux64"/>
	<parameter name="url" value="http://stage-mes.edianzu.cn"/>
	<parameter name="cookie" value="JSESSIONID" />
	<test name="test">
		<parameter  name="valueName" value="select * from new_model"/>
		<classes>
		  <class name="com.liuchao.testcase.LoginTest"/>
		</classes>
	</test>
</suite>