<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite2">
    <parameter name="username" value="shiming" />
	<parameter name="pwd" value="123456" />
	<parameter name="browserDriverUrl" value="D:\eclipse-workspace\WebUITest\driver\chromedriver.exe"/>
	<parameter name="url" value="http://stage.mes.edianzu.cn/login.jsp"/>
	<test name="test">
		<classes>
		  <class name="com.liuchao.testcase.LoginTest"/>
		</classes>
	</test>
</suite>